<div class="row">

  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a href="">
        <img src="https://shoplienquan.vn/upload/setting/8729c29d94de4e17992f02d960d831ce.png" alt="">
      </a>
      <a class="navbar-brand" href="#!/trang-chu" style="color: yellow;">Trang chủ </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: yellow;">Nạp thẻ </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!trang-nguoi-dung/{{value.idkhachhang}}" style="color: yellow;">Lịch sử </a>
          </li>
        </ul>
        <div class="d-flex justify-content-end "
          style="background-color: rgb(227, 227, 9); color: black; border: 1px solid yellow;">
          <a href="#!login"><button class="btn btn-outline-success" id="ab">Đăng nhập </button></a>
        </div>
        <a href="#!qlsp" class="rounded-circle nav-link"
          style="margin-left: 16px ; background-color:green; color: aliceblue; height: 55px; width: 55px;" id="admin">
          <h4 style="margin-top: 4px; margin-left: 4px;">K</h4>
        </a>
      </div>
    </div>
  </nav>


</div>